<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация</title>
    <link rel="stylesheet" href="{% static 'css/cssTemplatesHome.css'%}">
</head>
<body>
<header>
    <div class="headEl" id="referenceInformation" name="on">
        <a href="{% url 'referenceInformation' %}">
            <svg width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" 
                  d="M2 2H12V11H2V2ZM0 2C0 0.89543 0.895431
                   0 2 0H12C13.1046 0 14 0.895431 14 2V11C14
                    12.1046 13.1046 13 12 13H2V15H12V14H14V15C14
                     16.1046 13.1046 17 12 17H2C0.895431 17 0 16.1046
                      0 15V13V2Z" fill="white">
                
            </path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 6H4V4H10V6Z" fill="white"></path>
            </svg>
            <p>Справочная информация</p>
        </a>
    </div>
    <div class="headEl" id="applications">
        <a href="{% url 'applications' %}">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1V4V13H1V4L4 1H13Z" stroke="#FFFFFF" stroke-width="2"></path>
                <path d="M4 5H10" stroke="#FFFFFF" stroke-width="2"></path>
                <path d="M4 9H10" stroke="#FFFFFF" stroke-width="2"></path>
            </svg>

            <p>Заявки</p>
        </a>
    </div>
    <div class="headEl" id="protocols">
        <a href="{% url 'protocols' %}">
            <svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.4854 6V2H6.48535V1H1.48535V12" stroke="#FFFFFF" stroke-width="2"></path>
                <path d="M1.48535 11L5.48535 6H15.4854V6.5L12.4854 11H1.86035" stroke="#FFFFFF" stroke-width="2"></path>
            </svg>
            <p>Протоколы</p>
        </a>
    </div>
    <div class="headEl" id="reports">
        <a href="{% url 'reports' %}">
            <svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.4854 6V2H6.48535V1H1.48535V12" stroke="#FFFFFF" stroke-width="2"></path>
                <path d="M1.48535 11L5.48535 6H15.4854V6.5L12.4854 11H1.86035" stroke="#FFFFFF" stroke-width="2"></path>
            </svg>
            <p>Отчёты</p>
        </a>
    </div>
</header>
<main>
    <div class="mainEl" id="company">
        <a href="{% url 'company' %}">
            <div id="companyN">
                <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.4854 1V4V13H1.48535V4V1H13.4854Z" stroke="#303956" stroke-width="2"></path>
                <path d="M4.48535 5H10.4854" stroke="#303956" stroke-width="2"></path>
                <path d="M4.48535 9H10.4854" stroke="#303956" stroke-width="2"></path>
            </svg>
            </div>
            <p>Данные организации</p>
        </a>
    </div>
    <div class="mainEl" id="employees">
        <a href="{% url 'employees' %}">
            <div id="employeesN">
                <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="6.98535" cy="4.5" r="3.5" stroke="#303956" stroke-width="2"></circle>
                <path d="M4.88534 6.98169C3.05343 7.56273 1.48535 9.11472 1.48535 
                11H3.48535V16.9999H10.552L10.4854 11H12.4854C12.4854 9.11472 11.2506
                 7.56273 9.41865 6.98169" stroke="#303956" stroke-width="2"></path>
                </svg>
            </div>
            <p>Сотрудники</p>
        </a>
    </div>
    <div class="mainEl" id="groupReports">
        <a href="{% url 'groupReports' %}">
            <div id="groupReportsN">
                <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.48535 4H8.48535V13H1.48535V4Z" stroke="#303956" stroke-width="2"></path>
                <path d="M3.48535 2V1H11.4854V11H10.4854" stroke="#303956" stroke-width="2"></path>
                </svg>
            </div>
            <p>Группы Отчётов</p>
        </a>
    </div>
    <div class="mainEl" id="studyingProgram">
        <a href="{% url 'studyingProgram' %}">
            <div id="studyingProgramN">
                <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="9.48535" y="1" width="4" height="4" stroke="#303956" stroke-width="2"></rect>
                    <rect x="9.48535" y="8" width="4" height="4" stroke="#303956" stroke-width="2"></rect>
                    <rect x="1.48535" y="1" width="4" height="4" stroke="#303956" stroke-width="2"></rect>
                    <rect x="1.48535" y="8" width="4" height="4" stroke="#303956" stroke-width="2"></rect>
                </svg>
            </div>
            <p>Программы обучения</p>
        </a>
    </div>
</main>
</body>
</html>
