<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дом</title>
</head>
<body>
<header>
    <a href="{% url 'referenceInformation' %}">Справочная информация</a>
    <a href="{% url 'applications' %}">Заявки</a>
    <a href="{% url 'protocols' %}">Протоколы</a>
    <a href="{% url 'reporting' %}">Отчетность</a>
</header>
<main>
    <a href="{% url 'users' %}">Пользователи</a>
    <p>Данные организации</p>
    <p>Наименование: {{dates.name}}</p>
    <p>ИНН: {{dates.inn}}</p>
    <p>КПП: {{dates.kpp}}</p>
    <p>банковский cчет: {{dates.bankAccount}}</p>
    <p>руководитель: {{dates.supervisor}}</p>
</main>
</body>
</html>