<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление</title>
</head>
<body>
<header>
    <a href="{% url 'referenceInformation' %}">Справочная информация</a>
    <a href="{% url 'applications' %}">Заявки</a>
    <a href="{% url 'protocols' %}">Протоколы</a>
    <a href="{% url 'reporting' %}">Отчетность</a>
</header>
<!--<form action=""><input type=hidden name=id value={{allApplications.0}}><button>Счёт</button></form>-->
<a href="{% url 'installAccount' allApplications.0 %}" download="1">Счёт</a>
<form method="post" id="inputForm" novalidate>
    {% csrf_token %}
    {{ form }}
    <p>Номер: {{allApplications.0}}</p>
    <p>Клиент: {{allApplications.1}}</p>
    <p>Дата: {{allApplications.2}}</p>
    <p>Статус: {{allApplications.3}}</p>
    <p>Автор: {{allApplications.4}}</p>
    <table>
    <tr><th>Имя</th><th>Звание</th><th>Пол</th><th>СНИЛС</th><th>Возраст</th><th>Программа</th></tr>
    {% for formC in formsClients %}
        <tr>
            <th>{{formC.fullName}}</th>
            <th>{{formC.post}}</th>
            <th>{{formC.gender}}</th>
            <th>{{formC.snils}}</th>
            <th>{{formC.age}}</th>
            <th>{{formC.prefStudyingProgram}}</th>
        </tr>
    {% endfor %}
    </table>
    <input type=hidden name=action id="action" value="0">
    <br>
    <input type="submit" id="button" value="Сохранить">
    <input type="submit" id="add" value="Добавить" onclick="addFunc();">
</form>
</body>
<style>
    tr,th{
        border: 1px solid black;
    }
    table{
        select{
            border:none;
        }
        input{
            border:none;
        }
        border-collapse: collapse;
    }
</style>
</html>