<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/cssTemplatesLogin.css'%}">
</head>
<body>
<main>
<h2 class="input">Вход</h2>
<form method="post" id="inputForm" novalidate>
    {% csrf_token %}
    {{ form.name }}
    {{ form.password }}
    <p class="error">{{out}}</p>
    <input type="submit" id="save" value="Войти">
</form>
<p class="reg">Еще нет аккаунта, попросите администратора создать</p>
</main>
</body>
</html>