<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
  <header>
      <a href="{% url 'referenceInformation' %}">Справочная информация</a>
      <a href="{% url 'applications' %}">Заявки</a>
      <a href="{% url 'protocols' %}">Протоколы</a>
      <a href="{% url 'reporting' %}">Отчетность</a>
  </header>
   <p class="input">Вход</p>
<form method="post" id="inputForm" novalidate>
    {% csrf_token %}
    {{ form.name }}
    {{ form.password }}
    <p class="error">{{out}}</p>
  <input type="submit" id="button" value="Войти">
</form>
<p class="reg">Еще нет аккаунта, попросите администратора создать</p>
</body>
</html>