<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Программы обучения</title>
    <link rel="stylesheet" href="{% static 'css/cssTemplatesTable.css' %}">
</head>
<body>
<header>
    <div class="headEl" id="referenceInformation" name="on">
        <a href="{% url 'referenceInformation' %}">
            <svg width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" 
                  d="M2 2H12V11H2V2ZM0 2C0 0.89543 0.895431
                   0 2 0H12C13.1046 0 14 0.895431 14 2V11C14
                    12.1046 13.1046 13 12 13H2V15H12V14H14V15C14
                     16.1046 13.1046 17 12 17H2C0.895431 17 0 16.1046
                      0 15V13V2Z" fill="white">
                
            </path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 6H4V4H10V6Z" fill="white"></path>
            </svg>
            <p>Справочная информация</p>
        </a>
    </div>
    <div class="headEl" id="applications">
        <a href="{% url 'applications' %}">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1V4V13H1V4L4 1H13Z" stroke="#FFFFFF" stroke-width="2"></path>
                <path d="M4 5H10" stroke="#FFFFFF" stroke-width="2"></path>
                <path d="M4 9H10" stroke="#FFFFFF" stroke-width="2"></path>
            </svg>

            <p>Заявки</p>
        </a>
    </div>
    <div class="headEl" id="protocols">
        <a href="{% url 'protocols' %}">
            <svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.4854 6V2H6.48535V1H1.48535V12" stroke="#FFFFFF" stroke-width="2"></path>
                <path d="M1.48535 11L5.48535 6H15.4854V6.5L12.4854 11H1.86035" stroke="#FFFFFF" stroke-width="2"></path>
            </svg>
            <p>Протоколы</p>
        </a>
    </div>
    <div class="headEl" id="reports">
        <a href="{% url 'reports' %}">
            <svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.4854 6V2H6.48535V1H1.48535V12" stroke="#FFFFFF" stroke-width="2"></path>
                <path d="M1.48535 11L5.48535 6H15.4854V6.5L12.4854 11H1.86035" stroke="#FFFFFF" stroke-width="2"></path>
            </svg>
            <p>Отчёты</p>
        </a>
    </div>
</header>
<main>
<form action="{% url 'add' %}">
    <input type=hidden name=id-form value=3>
    <button>Добавить</button>
</form>
<table>
    <tr id="headTr">
        <th>Номер</th>
        <th>Имя</th>
        <th>Префикс</th>
        <th>Признак выгрузки</th>
        <th>Группа отчётов</th>
        <th>Текст для протокола</th>
        <th>Цена по умолчанию</th>
        <th>ФИО</th>
        <th>Клиент</th>
        <th>СНИЛС</th>
        <th>Номер реестра</th>
        <th>Результат проведения</th>
        <th>Подпись</th>
        <th>Результат</th>
    </tr>
    {% for studyingProgram in allStudyingProgram %}
        <tr id="{{studyingProgram.0}}" onclick="window.location.href = `{% url 'edit' %}?id-form=3&id-row={{studyingProgram.0}}`">
            <th class="id" name="{{studyingProgram.0}}">{{studyingProgram.0}}</th>
            <th class="name" name="{{groupReports.0}}">{{studyingProgram.1}}</th>
            <th class="prefix" name="{{groupReports.0}}">{{studyingProgram.2}}</th>
            <th class="landing" name="{{groupReports.0}}">{{studyingProgram.3}}</th>
            <th class="nameGroupReports" name="{{groupReports.0}}">{{studyingProgram.5}}</th>
            <th class="textForReports" name="{{groupReports.0}}">{{studyingProgram.6}}</th>
            <th class="price" name="{{groupReports.0}}">{{studyingProgram.7}}</th>
            <th class="fullName" name="{{groupReports.0}}">{{studyingProgram.8}}</th>
            <th class="client" name="{{groupReports.0}}">{{studyingProgram.9}}</th>
            <th class="snils" name="{{groupReports.0}}">{{studyingProgram.10}}</th>
            <th class="registerNumber" name="{{groupReports.0}}">{{studyingProgram.11}}</th>
            <th class="resultOf" name="{{groupReports.0}}">{{studyingProgram.12}}</th>
            <th class="signature" name="{{groupReports.0}}">{{studyingProgram.13}}</th>
            <th class="result" name="{{groupReports.0}}">{{studyingProgram.14}}</th>
        </tr>
    {% endfor %}
</table>
</main>
</body>
<script src="{% static 'js/jsTemplatesTable.js'%}"></script>
</html>