html, body {
    padding: 0;
    margin: 0;
    background: #F7F8FC;
    display: flex;
}

@font-face {
    font-family: Roboto;
    src: url(http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2);
}

html{
    main{
        padding: 0 40px;
        display: block;
    }
    form{
        display: block;
        align-items: center;

        margin-top: 20px;
        input, select{
            width: 367px;
            height: 40px;
            margin-top: 10px;
            border: 1px solid #B4B4B4;
            border-radius: 4px;
        }
        }
    p{
            font-family: Roboto, serif;
            font-size: 14px;
            line-height: 16px;
            text-align: left;

            color: #333333;
        }
    #save{
        /* col_green */

        width: 102px;
        height: 36px;

        font-family: Roboto, serif;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;

        background: #59CC47;
        border: 1px solid #3DB929;
        border-radius: 3px;

        margin-top: 10px;
    }
    #error{
        font-family: Roboto, serif;
        font-size: 14px;
        line-height: 16px;
        text-align: center;

        color: #c50000;
    }
} /*main*/