html, body {
    padding: 0;
    margin: 0;
    background: #F7F8FC;
    display: flex;
}

@font-face {
    font-family: Roboto;
    src: url(http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2);
}

html{
header {
    background-color: #303956;
    float: left;
    height: 100vh;
    min-width: 176px;

    position: sticky;
    top: 0;
}

.headEl {
    a {
        display: flex;
        align-items: center;

        width: 160px;
        height: 48px;

        text-decoration: none;

        svg {
            margin-left: 16px;
            min-height: 17px;
            min-width: 14px;
        }

        p {
            margin-left: 19px;

            font-family: Roboto, serif;
            text-transform: uppercase;

            color: #FFFFFF;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.05em;
            text-align: left;
            Opacity: .5;
        }
    }

    width: 160px;
    height: 48px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    border-radius: 4px;
}

div[name="on"] {
    background-color: #252C45;
}

} /*header*/

html{
    main{
        display: flex;
        flex-flow: row wrap;
        align-content: start;
    }
    .mainEl{
        a {
            display: flex;
            align-items: center;

            width: 160px;
            height: 48px;

            text-decoration: none;
            div{
                display: flex;
                align-items: center;

                svg {
                    margin-left: auto;
                    margin-right: auto;
                }

                min-height: 48px;
                min-width: 48px;

                margin-left: 20px;
                border-radius: 4px;
            }

            #usersN{
                background: #EBF7FE;
            }
            #companyN, #studyingProgramN{
                background: #FEEBEB;
            }
            #employeesN{
                background: #FFFBEC;
            }
            #groupReportsN{
                background: #EEEBFE;
            }
            #clientsN{
                background: #EBF7FE;
            }
            #applicationsListN{
                background: #FEEBEB;
            }

            p{
                margin-left: 20px;

                font-family: Roboto, serif;
                font-size: 16px;
                line-height: 19px;
                text-align: left;
            }

        }
        display: flex;
        align-items: center;

        margin-left: 15px;
        margin-top: 15px;

        min-width: 267px;
        min-height: 96px;
        border-radius: 4px;

        background-color: #FFFFFF;
    }
} /*main*/